body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, p{
    text-align: center;
    color: #2c3e50;
}

form {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #2c3e50;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-bar {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
}

.search-bar button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
}

.search-bar button:hover {
    background-color: #2980b9;
}

.ingredient-item {
    margin-top: 10px;
}

.ingredient-item{
    display:flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10p;
}

.ingredient-item > :nth-child(1) {
    flex:3
}

.ingredient-item > :nth-child(2) {
    flex:1
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #2980b9;
}

#saved-recipes {
    width: 90%;
    max-width:800px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
}

.recipe-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    overflow: hidden;
}

.recipe-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.recipe-item h3 {
    font-size: 1.25em;
    margin: 10px 0;
    color: #34495e;
}

.recipe-item h4 {
    font-size: 1em;
    margin: 10px 0;
    color: #16a085;
}

.recipe-item ul {
    padding: 0;
    list-style-type: none;
    margin: 10px 0;
}

.recipe-item ul li {
    margin: 5px 0;
}

.recipe-item p {
    font-size: 0.9em;
    line-height: 1.5;
    color: #7f8c8d;
}


@media (max-width: 600px) {
    form {
        width: 85%;
        padding: 10px;
    }

    .search-bar {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .ingredient-item {
        flex-direction: column;
        gap: 5px;
    }

    button {
        width: 100%;
        padding: 10px;
    }

    #saved-recipes {
        grid-template-columns: 1fr;
    }
}
