body {
    font-family: sans-serif;
    background: linear-gradient(135deg, #f8f8f8, #e0e0e0);
    margin: 0;
    padding: 0;
    color: #333;
}

.main-bar {
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 100%
}

h1, h2, p {
    text-align: center;
    color: #2c3e50;
}


#header-title {
    display: none;
}

#logo-full {
    display: block; 
    width: 100%;
    min-width: 800px;
    height: auto;
    object-fit: cover;
}

#logo-small {
    display: none;
}

.header-line {
    width: 95%;
    height: 3px;
    background-color: #3498db;
    border: none;
    margin: 20px auto;
    border-radius: 2px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 30px 50px;
}

.add-form-container {
    flex: 1;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recommendation-container {
    width: 90%;
    max-width: 320px;
    margin: auto;
    padding: 15px;
    background: #e6e0ff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.recommendation-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    background: #d8d0f0;
}

.recommendation-container h3 {
    font-size: 1.5rem;
    color: #5e3da6;
    margin: auto;
}

.recommendation-container #recommendation-title {
    font-size: 1rem;
    font-weight: bold;
    color: #463a73;
}

.recommendation-container #recommendation-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 6px;
    object-fit: cover;
}

form {
    width: 90%;
    min-width: 280px;
    margin: auto;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}


form:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.shopping-list-container {
    width: 90%;
    min-width: 280px;
    margin: 20px auto;
    padding: 5px 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.list-title {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px;
  }

#dropdownButton {
    margin: auto;
}

.shopping-list {
    display: none;
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

.shopping-list li {
    width: 85%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 5px auto;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #2c3e50;
}


input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


input:focus, textarea:focus {
    border-color: #3498db;
    border-width: 1px;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); 
}



.search-bar {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
    font-size: 16px;
}

.ingredient-item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.ingredient-item > :nth-child(1) {
    flex: 4;
}

.ingredient-item > :nth-child(2) {
    flex: 2;
}

.ingredient-item > :nth-child(3) {
    flex: 1;
}


button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.display-container {
    flex: 3;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
}

.sortbar {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

#saved-recipes {
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
}

.recipe-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.recipe-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.recipe-item img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.recipe-item h3 {
    font-size: 1.25em;
    margin: 10px 0;
    color: #34495e;
}

.recipe-item h4 {
    font-size: 1em;
    margin: 10px 0;
    color: #16a085;
}

.recipe-item ul {
    padding: 0;
    list-style-type: none;
    margin: 10px 0;
}

.recipe-item ul li {
    margin: 5px 0;
}

.recipe-item ol {
    font-size: 0.9em;
    line-height: 1.5;
    color: #7f8c8d;
    text-align: justify;
    padding: 0 20px
}

.convert-input-container {
    display: flex;
    justify-content: space-between;
}

.convert-input-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
}

.convert-input-container > :nth-child(1) {
    flex: 2;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
}

.convert-input-container > :nth-child(2) {
    flex: 1;
}

.convert-input-container > :nth-child(3) {
    flex: 1;
}

.add-shopping-list {
    width: 100%;
    padding: 10px;
}

.timer-container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.timer-container label{
    text-align: center;
}

.timer-input-container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.timer-input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
}

.timer-input-container button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
}


@media (max-width: 600px) {
    .main-container {
        width: 90%;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    
    .header-line {
        width: 90%;
    }

    .add-form-container {
        width: 85%;
        margin: 0;
    }

    .recommendation-container {
        margin-bottom: 20px;
        max-width: 100%;
    }

    #recommendation-content {
        align-items: center;
    }

    form {
        padding: 15px;
    }

    .display-container {
        width:100%;
        margin: 0;
    }

    .search-bar {
        padding: 10px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .ingredient-item {
        flex-direction: column;
        gap: 5px;
    }

    button {
        width: 100%;
        padding: 10px;
    }

    #saved-recipes {
        grid-template-columns: 1fr;
    }

    .timer-input-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .list-title {
        flex-direction: column;
        gap: 5px;
    }
    .main-bar {
        width: 100%;
    }

    #logo-full {
        display: none; 
    }
    
    #logo-small {
        display: block; 
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    


}
